* {
    box-sizing: border-box;
}

	body {
	font-family: sans-serif;
	}

	.main-carousel {
		position: relative;
		color: lightgrey;
		text-align: center;
		text-shadow: 2px 2px #black;
		.carousel-cell {
			width: 100%; /* full width */
			height: 50vh;
			min-height: 250px;
			margin-right: 10px;
			background-size: cover;
			background-position: center;

		  	.container {
				max-width: 1200px; 
				margin: 0 auto;
				padding: 10px;
				p {
				font-size: 50px;
				line-height: 50vh;
				text-align: center;
				}
			}
		}
	}
	.button-group {
		position: absolute;
		top: 10px;
		left: 10px;
		button {
		border: none;
		background: lightgrey;
		padding: 5px;
		color: black;
		border-radius: 5px;
		transition: 0.3s;
		cursor: pointer;
		}
	}
	.flickity-page-dots {
		display: none;
		.dot {
		display: none;
		}
	}
	.progress-bar {
		height: 20px;
		width: 0;
		background: lightgrey;
	}